.layout-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 95.38px;
}

.section-contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4em;
    padding: 2em;
}

.h2-contact-details {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.16em;
}

.ul-contact-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
}

.li-contact-details {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-contact-details {
    width: 10%;
}

@media (max-width: 1024px) {
    .layout-contact {
        margin-top: 88.98px;
    }
}

@media (max-width: 768px) {
    .layout-contact {
        margin-top: 67.19px;
    }
}
