:root {
    --black: #000;
    --saddlebrown: #8B4513;
    --bulrywood: #DEB887;
    --cornslik: #FCF0C3;
    --peru: #CD853F;
    --beige: #CC9767;
    --lessbeige: #C7AD8F;
    --morebeige: #A57A5A;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

html,
body {
    color: var(--morebeige);
    font-family: Josefin Sans,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
