/*                     SECTION TOP                      */

.section-top {
  position: relative;
  background-color: var(--white);
  margin-bottom: 5%;
  margin-top: 95.38px;
}

.image-wrapper {
  background-color: var(--beige);
  position: relative;
  width: 52%;
  padding: 3% 10%;
  top: 0;
  left: 0;
}

.image-container {
  width: 80%;
  display: flex;
}

.image {
  z-index: 2;
  max-width: 100%;
}

.section-top-p {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 75%;
  text-align: right;
  margin: 0;
  transform: translate(40%, 100%);
  padding: 1em;
}

@media (max-width: 1024px) {
  .section-top-p {
    font-size: 0.85em;
  }
  .section-top {
    margin-top: 88.98px;
  }
}

@media (max-width: 768px) {
  .section-top {
    display: flex;
    justify-content: center;
    margin-top: 67.19px;
  }
  .image-wrapper {
    padding: 5% 10%;
    width: 70%;
  }
  .image-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .section-top-p {
    margin-top: 1.5em;
    border-top: 2px solid var(--beige);
    transform: none;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 1em;
    width: 100%;
  }
}

/*                     ABOUT PROGRAMMING                      */

.about-programming {
  position: relative;
  margin-bottom: 5%;
  background-color: var(--cornslik);
  padding: 2% 0;
}

.image-about-programming {
  z-index: 2;
  max-width: 100%;
  width: 78%;
}

.image-container-about-programming {
  width: 80%;
  display: flex;
}

.image-wrapper-about-programming {
  background-color: transparent;
  position: relative;
  width: 52%;
  padding: 0;
  top: 0;
  left: 50%;
}

.about-programming-p {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 96%;
  text-align: right;
  margin: 0;
  transform: translate(-10%, 100%);
  padding: 1em;
  color: var(--saddlebrown);
  list-style: none;
  font-size: 18px;
  line-height: 1.6em;
}

@media (max-width: 1024px) {
  .about-programming-p {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}

@media (max-width: 768px) {
  .about-programming {
    display: flex;
    justify-content: center;
  }
  .image-wrapper-about-programming {
    padding: 5% 10%;
    width: 100%;
    left: 0;
  }
  .image-container-about-programming {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .about-programming-p {
    border-top: 2px solid var(--cornslik);
    margin-top: 1.5em;
    transform: none;
    position: relative;
    bottom: 0;
    text-align: center;
    font-size: 1em;
    width: 100%;
    color: var(--cornslik);
  }
}

/*                     PROJECTS-TITLE                      */

.section-projects-title {
  background-color: var(--cornslik);
  width: 100%;
  margin: 7% 0;
  background-image: linear-gradient(rgba(0,0,0,0.07), rgba(0,0,0,0.07));
  position: relative;
}

.div-projects-title {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--cornslik);
  z-index: 50;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.07), rgba(0,0,0,0.07));
}

.h1-projects-title {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0.16em;
  color: var(--black);
  z-index: 100;
  text-transform: uppercase;
}

.p-projects-title {
  font-size: 1.2em;
  letter-spacing: 0.06em;
  color: var(--saddlebrown);
  width: 100%;
  text-align: center;
  z-index: 100;
}

@media (max-width: 1024px) {
  .p-projects-title {
    font-size: 1.05em;
  }
  .h1-projects-title {
    font-size: 3.6em;
  }
}

@media (max-width: 768px) {
  .p-projects-title {
    font-size: 1em;
  }
  .h1-projects-title {
    font-size: 3em;
  }
  .div-projects-title {
    width: 90%;
  }
}

/*                     PROJECTS                      */

.projects {
  position: relative;
  margin: auto;
  margin-bottom: 7%;
  background-color: var(--white);
  width: 100%;
  height: 95vh;
}

.projects-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--creamybeige);
}

.projects-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 80%;
  background-color: transparent;
}

.projects-first-image {
  width: 50%;
  max-width: 100%;
  position: absolute;
  right: -5%;
  top: -6%;
  -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
}

.projects-second-image {
  width: 50%;
  max-width: 100%;
  position: absolute;
  left: -5%;
  bottom: -6%;
  -webkit-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 24px 7px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1386px) {
  .projects {
    height: 80vh;
  }
}

@media (max-width: 1024px) {
  .projects {
    height: 90vh;
  }
  .projects-first-image {
    top: 15%;
    width: 58%;
    right: -10%;
  }
  .projects-second-image {
    width: 58%;
    left: -10%;
    bottom: 15%;
  }
  .projects-wrapper {
    width: 85%;
    height: 90%;
  }
  .projects-container {
    width: 80%;
    height: 75%;
  }
}

@media (max-width: 768px) {
  .projects {
    height: 100vh;
  }

  .projects-wrapper {
    height: 100%;
  }
  .projects-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
  }
  .projects-first-image {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 90%;
  }
  .projects-second-image {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 90%;
  }
}

/*                     FUTURE                      */

.section-future {
  width: 100%;
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  margin-bottom: 5%;
}

.div1-future {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8em 3em;
}

.div1-image-future {
  width: 75%;
}

.div2-future {
  width: 100%;
  padding: 1.8em 4em;
  background-color: var(--creamybeige);
}

.div2-h2-future {
  font-size: 2.8em;
  letter-spacing: 0.12em;
  font-weight: 300;
  text-align: left;
  color: var(--black);
}

.div2-p1-future {
  font-size: 1.2em;
  width: 70%;
  text-align: left;
  color: var(--darkestbeige);
}

.div2-p2-future {
  font-size: 1.2em;
  width: 70%;
  text-align: left;
  color: var(--darkestbeige);
  margin-bottom: 7.5%;
}

.logos-wrapper-future {
  width: 100%;
  height: 22%;
  position: relative;
  margin-bottom: 15%;
}

.div2-ul-future {
  width: 100%;
  display: flex;
  gap: 2.3em;
  align-items: center;
  justify-content: space-between;
  color: var(--black);
  font-size: 1em;
  padding: 0 0.3em;
  list-style: none;
}

.div2-li-future {
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.div2-li-image-future {
  width: 20%;
  height: 20%;
  padding: 0.2em;
}

@media (max-width: 1300px) {
  .div2-h2-future {
    font-size: 2.2em;
  }
  .div1-future {
    padding: 1.2em 2.6em;
  }
  
  .div1-image-future {
    width: 85%;
  }
  .div2-p1-future {
    font-size: 1em;
    width: 80%
  }
  
  .div2-p2-future {
    font-size: 1em;
    width: 80%;
  }
  .div2-ul-future {
    gap: 1.6em;
    font-size: 0.8em;
  }
}

@media (max-width: 1024px) {
  .div2-h2-future {
    font-size: 1.9em;
  }
  .div1-future {
    padding: 1em 2em;
  }
  
  .div1-image-future {
    width: 90%;
  }
  .div2-p1-future {
    font-size: 0.85em;
    width: 90%
  }
  
  .div2-p2-future {
    font-size: 0.85em;
    width: 90%;
  }
  .div2-ul-future {
    gap: 1.4em;
    font-size: 0.75em;
    width: 100%;
  }
  .div2-li-future {
    text-align: center;
  }
  .div2-li-image-future {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-future {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
  }
  .div1-future {
    width: 90%;
    padding: 1em 2em;
    margin: auto;
  }
  
  .div1-image-future {
    width: 80%;
  }
  .div2-ul-future {
    flex-direction: column;
    font-size: 1.1em;
  }
  .div2-li-image-future {
    width: 7%;
    height: 7%;
    padding: 0.2em;
  }
  .div2-h2-future {
    width: 100%;
    text-align: center;
  }
  .div2-p1-future {
    width: 100%;
    text-align: center;
  }
  .div2-p2-future {
    width: 100%;
    text-align: center;
  }
  .logos-wrapper-future {
    height: 50%;
    margin-bottom: 20%;
  }
  .div2-li-image-future {
    display: inherit;
  }
}
