.hp-wrapper {
    display: flex;
    gap: 0;
    width: 100%;
    justify-content: space-between;
}

.hp-section {
    width: 100%;
    height: 100%;
}

.hp-section-left {
    background-color: var(--white);
}

.hp-section-right {
    background-color: var(--beige);
}