.nav-wrapper {
    background-color: var(--lessbeige);
    padding: 0.2em 1em;
    padding-left: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.link {
    text-decoration: none;
}

.nav-header {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-header-h4 {
    font-weight: 300;
    margin: 0;
    padding: 0.4em;
    letter-spacing: 0.16em;
    color: var(--saddlebrown);
    text-decoration: none;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style: none;
}

.nav-ul-link-li {
    padding: 0 3.5em;
}

.nav-ul-link {
    cursor: pointer;
    font-size: 16px;
    padding: 1em 0;
    border-top: 1px var(--saddlebrown) solid;
}

.nav-ul-link:hover {
    border-top: 3px var(--saddlebrown) solid;
    padding: calc(1em - 2px) 0;
}
