.up-button {
    border: 2px solid var(--lessblack);
    background-color: transparent;
    border-radius: 0%;
    width: 4%;
    height: 8%;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.up-icon {
    background-color: transparent;
    color: var(--lessblack);
    width: 100%;
    font-size: 2.2em;
}
