.layout-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: calc(95.38px + 3em);
}

.title {
  font-size: 2.2em;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--lessblack);
}

/* CONTACT DETAILS */

.section-contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4em;
  padding: 2em;
  position: relative;
  z-index: 1;
}

.ul-contact-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1.4em;
  padding: 0;
  width: 100%;
}

.li-contact-details {
  font-size: 18px;
  display: flex;
  gap: 1.6em;
  justify-content: space-around;
  align-items: center;
  color: var(--morebeige);
}

.img-contact-details {
  width: 2em;
}

.link-contact-details {
  text-decoration: none;
  color: var(--morebeige);
}

.link-contact-details:hover {
  color: var(--morebeige);
  opacity: 0.8;
}

.link-contact-details:active:visited {
  text-decoration: none;
}

/* CONTACT FORM */

.section-contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4em;
  padding: 2em;
  z-index: 1;
}

.form-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4em;
  width: 100%;
}

.label-contact-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
}

.text-contact-form {
  margin: 0;
  text-align: left;
}

.input-contact-form {
  border: none;
  border-bottom: 1px solid var(--beige);
  border-radius: 10%;
  background: transparent;
  width: 100%;
  font-size: 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

.button-contact-form {
  border: none;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--creamybeige);
  color: var(--black);
  border-radius: 10px;
  width: 24%;
  transition: 0.3s ease-in all;
  cursor: pointer;
}

.button-contact-form:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12));
}

@media (max-width: 1024px) {
  .layout-contact {
    margin-top: 88.98px;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .button-contact-form {
    width: 34%;
  }
}

@media (max-width: 768px) {
  .layout-contact {
    margin-top: 67.19px;
  }
}
